body{
	font-size: 14px;
	color: #333;
	background-color: #fff;
	letter-spacing: 1px;
}

.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0,0,0,0.4);
}

.slides-navigation{
	z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev{
	left: 20px;
	display: block;
	background-image: url(../icons/prev.png);
}

.slides-navigation a.next{
	right: 20px;
	display: block;
	background-image: url(../icons/next.png);
}

@media screen and (max-width: 768px) {
	.slides-navigation .prev,
	.slides-navigation .next { visibility: hidden; }

	.aboutText h4{
		margin-top: 20px;
		margin-bottom: 10px;
	}
}

.titleMessage{
	position: absolute;
	width: 100%;
	height: 250px;
	top: 50%;
	z-index: 5;
	text-align: center;
	margin-top: -125px;
}

.titleMessage .heading p {
	color: #fff;
	text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
	font-weight: 100;
	letter-spacing: 8px;
}

.titleMessage .heading .main{
	font-size: 60px;
}

.titleMessage .heading .sub{
	font-size: 23px;
}

.section{
	padding: 100px 0;
}

.aboutImage {
	max-width: 100%;
}

.aboutText {
	padding-top: 35px
}

.aboutText h4{
	text-align: center;
}

.aboutText p{
	text-align: center;
}

.owl-carousel {
    margin-top: 25px;
}

.skillsSection {
	background-color: #487eb0;
	color: #fff;
}

.skill{
	text-align: center;
	margin: 20px;
}

.chart {
	position: relative;
	width: 152px;
	height: 152px;
	display: inline-block;
	text-align: center;
	margin-bottom: 25px;
}

.chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.chart .percent {
	color: #fff;
	line-height: 152px;
	display: inline-block;
	font-size: 35px;
}

.chart .percent:after {
	content: '%';
}

.contactSection {
	padding-top: 60px;
	padding-bottom: 0px;
}

.contactButton {
	color: #c23616;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 2px solid #c23616;
    border-radius: 10px;
}

.contactButton:hover {
	text-decoration: none;
	color: #fff;
	background-color: #c23616;
}

.fontsAwesome a{
    color: #487eb0;
    display: inline-block;
    font-size: 50px;
    padding: 30px;
    padding-top: 50px;
}

.fa-facebook-official:hover,
.fa-github:hover,
.fa-linkedin-square:hover,
.fa-instagram:hover {
    font-size: 60px;
    color: #192a56;
}


.copyrightSection {
	background-color: #000;
	color: #fff;
	padding: 30px 5px;
}

.copyrightSection p{
	margin: 0;
}

#navigation {
	background-color: #192a56;
	padding: 20px 10px;
	z-index: 100;
	width: 100%;
}

#navigation li{
	padding: 0 10px;
}

#navigation li a {
	color: #fff;
}

.navbar-brand,
.navbar-brand:hover{
	color: #fff;
}

.navbar-toggler-icon {
	background: url(../icons/menu.png);
	background-size: 100%;
}

.fixedNav #navigation{
	position: fixed;
	top: 0;
}

.loader {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.loader .inner{
	width: 100%;
	height: 100%;
	background: url(../icons/loader.png) center center no-repeat; 
}