/*
Light Blue : #487eb0
Dark Blue : #192a56
White : #FFFFFF
*/

body{
	font-size: 14px;
	color: #333;
	font-family: 'Nunito-Regular';
	/*background: url('../img/pattern.jpg') center center;*/
	letter-spacing: 1px;
}

/* FONT FACES */
@font-face {
    font-family: 'Cubano-Regular';
    src: local('Cubano-Regular.otf'), url('Cubano-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Nunito-Regular';
    src: local('Nunito-Regular.ttf'), url('Nunito-Regular.ttf') format('truetype');
}

.contactText {
	color: #192a56;
}

.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0,0,0,0.4);
}

.slides-navigation{
	z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev{
	left: 20px;
	display: block;
	background-image: url(../icons/prev.png);
}

.slides-navigation a.next{
	right: 20px;
	display: block;
	background-image: url(../icons/next.png);
}

@media screen and (max-width: 768px) {
	.slides-navigation .prev,
	.slides-navigation .next { visibility: hidden; }

	.aboutText h4{
		margin-top: 20px;
		margin-bottom: 10px;
	}
}

.titleMessage{
	position: absolute;
	width: 100%;
	height: 250px;
	top: 50%;
	z-index: 5;
	text-align: center;
	margin-top: -125px;
}

.titleMessage .heading p {
	color: #fff;
	text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
	font-weight: 100;
	letter-spacing: 8px;
}

.titleMessage .heading .main{
	font-size: 60px;
}

.titleMessage .heading .sub{
	font-size: 23px;
}

.section{
	padding: 100px 0;
}

.aboutImage {
	max-width: 100%;
}

.js-wp-1 {
    opacity: 0;
}

.js-wp-1.animated {
    opacity: 1;
}

.js-wp-2 {
    opacity: 0;
}

.js-wp-2.animated {
    opacity: 1;
}

.shadow {
	box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
}

.aboutText {
	padding-top: 35px
}

.aboutText h4{
	text-align: center;
}

.aboutText p{
	font-family: 'Nunito-Regular';
	size: 10px;
	text-align: center;
}

.fa-building-o {
	color: #192a56;
}

.section-timeline {
    background-color: white;
    padding-top: 5rem;
}

.heading {
	text-align: center!important;
	color: #192a56;
	font-size: 2rem;
}

.timeline {
    list-style: none;
    padding: 20px 0 80px;
    padding-top: 50px;
    position: relative;
}

.timeline-badge{
	color: #FFFFFF;
}

.timeline:before {   /* GREY LINE */
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
	margin-bottom: 95px;
    margin-top: 45px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: "";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 50%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline p {
    font-family: 'Nunito-Regular';
    font-weight: 700;
}


.timeline > li:not(.timeline-inverted) {
    padding-right: 90px;
}

.timeline > li.timeline-inverted {
    padding-left: 90px;
}

.timeline > li > .timeline-badge {
    font-size: 1rem; !important
    color: #487eb0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #487eb0;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.fa.fa-clock-o {
    padding-right: 3px;
}


.owl-carousel {
    margin-top: 25px;
}

.skillsSection {
	background-color: #487eb0;
	color: #fff;
}

.skill{
	text-align: center;
	margin: 20px;
}

.chart {
	position: relative;
	width: 152px;
	height: 152px;
	display: inline-block;
	text-align: center;
	margin-bottom: 25px;
}

.chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.chart .percent {
	color: #fff;
	line-height: 152px;
	display: inline-block;
	font-size: 35px;
}

.chart .percent:after {
	content: '%';
}

.squareItem {
	margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 2px solid #444;
	border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}


.squareInnerContainer:before {
	right: 0px;
}

.squareInnerContainer:after {
	left: 0px
}


.squareContent h2 {
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 400;
	color: #e74c3c;
}

.squareContent h3 {
	font-size: 13px;
	font-weight: 600;
	margin: 0;
}

.squareIcon {
	position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}

.experienceSection {
	padding-bottom: 10px;
}

.contactSection {
	padding-top: 60px;
	padding-bottom: 30px;
}

.contactButton {
	color: #c23616;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 2px solid #c23616;
    transition: 0.5s;
    border-radius: 10px;
}

.contactButton:hover,
.contactButton:focus,
.contactButton:active {
	text-decoration: none;
	color: #fff;
	transition: 0.5s;
	background-color: #c23616;
}

.squareIcon {
	color: #192a56;
}

.fontsAwesome a{
    color: #487eb0;
    display: inline-block;
    font-size: 50px;
    padding: 30px;
    transition: 0.3s;
    padding-top: 50px;
}

.fa-facebook-official:hover,
.fa-github:hover,
.fa-linkedin-square:hover,
.fa-instagram:hover,
.fa-envelope:hover {
    font-size: 60px;
    transition: 0.3s;
    color: #192a56;
}

.fa-heart {
    color: red;
}

.copyrightSection {
	background-color: #000;
	color: #fff;
	padding: 30px 5px;
}

.copyrightSection p{
	margin: 0;
}

#navigation {
	background-color: #192a56;
	padding: 20px 10px;
	z-index: 100;
	width: 100%;
}

#navigation li{
	padding: 0 10px;
}

#navigation li a {
	color: #fff;
}

.navbar-brand,
.navbar-brand:hover{
	color: #fff;
}

.navbar-nav li a {
	border-bottom: 1px solid transparent;
	transition: 0.5s;
}

.navbar-nav li a:hover {
	border-bottom: 1px solid #487eb0;
	transition: 0.5s;
}

.navbar-toggler-icon {
	background: url(../icons/menu.png);
	background-size: 100%;
}

.fixedNav #navigation{
	position: fixed;
	top: 0;
}

.loader {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.loader .inner{
	width: 100%;
	height: 100%;
	background: url(../icons/loader.png) center center no-repeat; 
}